<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Test</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</head>
<body>
  <div id="app">
    <div v-if="currentQuestionIndex < questions.length">
      <img :src="questions[currentQuestionIndex].image" alt="Question Image">
      <h3>{{ questions[currentQuestionIndex].text }}</h3>
      <form @submit.prevent="checkAnswer">
        <label v-for="(answer, index) in questions[currentQuestionIndex].answers" :key="index">
          <input type="checkbox" :value="index" v-model="selectedAnswers">{{ answer }}
        </label>
        <button type="submit">Antworten</button>
      </form>
      <div>
        <p>Richtige Antworten:  {{ correctCount }}</p>
        <p>Falsche Antworten: {{ wrongCount }}</p>
      </div>
    </div>
    <div v-else>
      <h3>Тест завершен!</h3>
      <p>Richtige Antworten:  {{ correctCount }}</p>
      <p>Falsche Antworten: {{ wrongCount }}</p>
    </div>
  </div>

  <script src="js/App.js"></script>
</body>
</html>
